
<link rel="import" href="/bower_components/polymer/polymer-element.html" />
<template id="mitemplate">
    <style>
        p {
            background-color: chocolate;
        }
    </style>
    <p>Mundo Polymer v2.0.0</p>
</template>

<script>
class MiprimerPolymer extends Polymer.Element {

  static get template(){
    const contenido  = document.currentScript.ownerDocument;//Solo funciona en Chrome para Firefox llamar directamente
    const compo = contenido.getElementById("mitemplate");    
    return compo;
  }

}

window.customElements.define('mi-primerpolymer', MiprimerPolymer);
</script>