// 
<template id="mitemplate">
    <style>
        p {
            background-color: yellow;
        }
    </style>
    <p>Mundo WebComponet v1</p>
</template>

<script>
class Miprimercomponente extends HTMLElement {
  constructor() {
    super(); // always call super() first in the ctor.

  }
  connectedCallback() {
        let sombrita = this.attachShadow({mode:"open"})
        const contenido  = document.currentScript.ownerDocument;
        const compo = contenido.querySelector("#mitemplate").content.cloneNode(true);
        sombrita.appendChild(compo);      
  }
}

window.customElements.define('mi-primercomponente', Miprimercomponente);
</script>